body {
  background-color: antiquewhite;
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: oldstyle-nums;
  font-variant-ligatures: discretionary-ligatures;
}
h1, h2{
  color: purple;
  padding: 5px;
  text-align: center;
}

p {
  width: 60%;
  margin: 15px auto 0px auto; 
}

ul {
  width: 60%;
  margin: 15px auto 0px auto; 
}
a {
  padding: 1px; 
}
a:visited {
  color: purple;
}

a:hover {
  background-color: aqua;
  color: peru;
}




.img-right {
  float: right;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: purple;
}

.topnav a.active {
  background-color: purple;
  color: white;
}
.left {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2px;
  float: left; 
  width: 48%;

}
.right {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2px; 
  float: right;
  width: 48%;
}

.btm-bar {
  background-color: purple;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  text-align: center;
}

.btm-bar img{
  float: left;
  margin: 0px 15px 0px 15px;
}
header {
  background-color: purple;
  color: silver; 
}
header > h1 {
  color: antiquewhite; 
}

.main-menu {
    width: 25%;
    color: white; 
}