body {
  margin: 5%;
  background-color: antiquewhite;
}
h1, h2{
  font-family: Myriad Pro;
  color: purple;
  
}
p {
  font-family: fantasy;
}
img {
  border-radius: 10px;
}
nav {
  background-color: purple;
  font-family: Myriad Pro;
  padding: 5px; 
  color: cornsilk;
}
a {
  color: antiquewhite;
}
